@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.home-bg {
    background-color: #225db0;
    font-family: "Roboto";
    height: 100vh;
    padding-top: 44px;
    padding-right: 36px;
    padding-left: 36px;
}

.home-heading {
    color: #ffffff;
    font-size: 34px;
    font-weight: 500;
    margin-bottom: 10px;
}

.home-text {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 26px;
}

.card-container {
    background-color: #ffffff;
    padding: 16px;
    height: 120px;
    width: 150px;
    text-align: center;
    margin-right: 20px;
    border-radius: 8px;
    border-width: 0px;
    margin-bottom: 26px;
}

.card-image {
    height: 50px;
    width: 50px;
    margin-bottom: 14px;
}

.card-text {
    color: #1f2933;
    font-size: 18px;
}

.section-bg {
    background-color: #225db0;
    font-family: "Roboto";
    height: 100vh;
    padding-top: 44px;
    color: #ffffff;
    padding-right: 36px;
    padding-left: 36px;
}

.section-heading {
    font-size: 28px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.section-list {
    font-size: 16px;
    margin-left: 0px;
    margin-bottom: 20px;
}

.back-button {
    font-size: 14px;
    padding: 10px;
    width: 80px;
    background-color: #225db0;
    border-width: 1px;
    border-color: #ffffff;
    color: #ffffff;
    border-radius: 8px;
}